{%extends 'all-photos/base.html'%}
    {% block content %}
    <div class="head">
        <h3>
           <a href=""> Thee Dev <span>Gallery</span></a>
        </h3>
    </div>
    <!-- Adding a search form  -->

  
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
  
          <div class="input-group">
            <div class="search">
                <input id="search_input" type="text"  placeholder="Search fashion,music,nature,memes,fun..." >
                <label  value="submit" for="search-input"><span class="glyphicon glyphicon-search search-icon"></span></label>
            </div>
          </div>
  
        </form>
      
      <!-- search form end -->
   
    <div class="view">
        <a href=""><h5>Photo Display</h5></a>
          {% for image in images %}
    <div class="card">
    <div class="card-title">
        {{image.name}}
    </div>
    <div class="card-body">
        <img class="img-responsive" src="{{image.image.url}}" alt="">
    </div>
       
    </div>
    {% endfor %}
    </div>
    {% endblock %}