{%extends 'all-photos/base.html'%}
    {% block content %}
    <div class="head">
        <h3>
           <a href=""> Thee Dev Gallery</a>
        </h3>
    </div>
    <!-- Adding a search form  -->

  
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
  
          <div class="input-group">
            <div class="search">
                <input id="search_input" type="text"  placeholder="Search fashion,music,nature,memes,fun..." >
                <label  value="submit" for="search-input"><span class="glyphicon glyphicon-search search-icon"></span></label> <br> <br>
            </div>
          </div>
  
        </form>
     
      <!-- search form end -->
   
    <div class="view">
        <a href="" >
            <button class="btn btn-lg btn-secondary"> Photos</button>
          </a>

          {% for image in images %}
     <h3>Photo Details</h3>
     <ul>
         <li>image-name {{image.name}} </li>
         <li>image-url {{image.url}}</li>
         <li>image-description {{image.description}} </li>
         <li>image-location {{image.location}}</li>
     </ul>
    {% endfor %}
    </div>
    {% endblock %}