DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'gallery',
        'USER': 'moringa',
    'PASSWORD':'Access',
    'DISABLE_SERVER_SIDE_CURSORS': True,
    }
}
cloudinary.config( 
  cloud_name = "dtbixh0z3", 
  api_key = "832652891133987", 
  api_secret = "CVnT9TNu9tfvSEUnXcN_1fIm4Eo" 

)