*{
    font-family: 'Inconsolata', monospace;
    padding-left: 7px;
    color: black;
    font-size: 26px;
    
}.container-fluid{
    font-family: 'Inconsolata', monospace;
}
.head h3{
    text-align: center;
}
.head{
    height: 60px;
    background-color: rgb(10, 3, 10);
    color: white;
    padding-top: 2px;
    padding-bottom: 6px;
    padding-left: 80px;
    font-size: 13px;
}
.head a{
    text-decoration: none;
    color: white;
}
span{
    color: rgb(51, 221, 221);
}
#search_input{
border-radius: 1px;
border: 0.5px solid rgb(83, 80, 80);
font-size: 7px;
padding-bottom: 0px;
}
.glyphicon{
    color: black;
    font-size: 8px;
}
.photos{
    font-size: 13px;
    background-color: rgb(241, 241, 241);
}
.photos h5{
    text-align: center;
    color: rgb(48, 59, 59);
    
}

