*{
    font-family: 'Inconsolata', monospace;
    padding-left: 15px;
    color: white;
    
}
.head{
    height: 50px;
    background-color: rgb(48, 11, 49);
    color: white;
}
.head a{
    text-decoration: none;
    color: white;
}